# Ignore everything
/*

# But don't ignore this directories
!/Assets
!.gitignore
!/ProjectSettings
!/UserSettings
!/Packages
!/.collabignore

# However, ignore .meta files within the Assets directory
/Assets/*.meta

# Ignore idea directory
.idea